<h1>
	Report
</h1>

<dl>
	<dt>Branch</dt>
	<dd><%= branch %></dd>

	<dt>Created at</dt>
	<dd><%= new Date() %></dd>

	<dt>URL</dt>
	<dd><%= url %></dd>

	<dt>Selector</dt>
	<dd><%= selector %></dd>
</dl>

<h3>Payload size</h3>

<dl>
	<dt>KB</dt>
	<dd><%= payloadSize %> <small>(Size over the network)</small></dd>
</dl>

<h3>v8 (javascript) time</h3>

<%= javascriptTime %>

<h3>Long frames (Jank)</h3>

<p>
	Long frames are caused by the browser doing more than 15ms of
	javascript computation. They cause the browser to stop
	responding until the javascript computation completes.
</p>

<% longFrames.forEach((frame) => { %>
	<h4>Frame #<%= frame.number %></h4>

	<dl>
		<dt>Frame duration</dt>
		<dd><%= frame.duration %></dd>
		<dt>Dropped frames</dt>
		<dd><%= frame.dropped %></dd>
	</dl>
<% }); %>

